target
.vscode/.history
venv
pylucene-6.5.0-src.tar
pylucene-6.5.0
dataset/nfL6.json
sample_answers.json
.vscode/settings.json
.vscode/.ropeproject
results.json
.vscode/launch.test.json
perfect_results.json
/.factorypath
__pycache__
/.pytest_cache
/.settings
word2vec*
*.p
saved_models/*
